.register-company-container{
 
  @include background("code-rain-bg")
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: newYork;
  h2 {
    height: fit-content;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }
  .container-form-data {
    @include container-form-data(750px, 3em);
    justify-content: space-around;
    button {
      background-color: $btn-color;
      color: black;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
}
