.register-company-container{
 
  @include background("code-rain-bg")
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: newYork;
  h2 {
    height: fit-content;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }
  .container-form-data {
    display: flex;
    box-shadow: 0px 0px 16px 5px $box-shadow-form-data;
    background-color: $bg-color-form;
    justify-content: space-around;
    padding: 3em;
    flex-wrap: wrap !important;
    max-width: 750px;
    button {
      background-color: $btn-color;
      color: black;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
}
