.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
    padding: 0.5em;

    a{
        margin-right: 5px;
    }
    a:hover{
        background-color: rgb(199, 220, 225);
        
        
    }
}
.navbar{
    border-bottom: 1px solid black;
    background-color: rgb(54, 210, 245);
    font-family: newYork;
}

.logo{
    height: 4em;
    width: 15em;
}