.register-candidate-container{
  background-image: url(../../../public/images/code-rain-bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container-form-data {
    display: flex;
    box-shadow: 0px 0px 16px 5px $box-shadow-form-data;
    background-color: $bg-color-form;
    justify-content: space-around;
    padding: 3em;
    flex-wrap: wrap !important;
    max-width: 750px;
    button {
      background-color: $btn-color;
      color: black;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
  .lang {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    align-content: center;
    padding: 2em;
    button {
      border: none;
      display: flex;
      width: 2em;
      height: 2em;
      justify-content: center;
      align-items: center;
    }
  }
  .bubble {
    background-color: $btn-color;
    width: fit-content;
    height: fit-content;
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: flex-end;
    color: black;
    margin-bottom: 10px;
    button {
      border: none;
      color: white;
      background-color: $bubble-bg;
      &:hover {
        background-color: $bubble-bg;
      }
    }
  }
  .skills-lang {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .skills{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2em;
      button {
        border: none;
        display: flex;
        width: 2em;
        height: 2em;
        justify-content: center;
        align-items: center;
      }
      h2{
        height: 1em;
      }
    }
  }
}
.warning {
  background-color: rgba(242, 99, 99, 0.635);
  width: 10em;
  height: 4em;
}
