form {
  .container-form-data {
    display: flex;
    box-shadow: 0px 0px 15px 6px $box-shadow-gray;
    justify-content: space-around;
    padding: 3em;
    flex-wrap: wrap !important;
    max-width: 750px;
  }
  .lang-skills {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    align-content: center;
    max-width: 750px;
    button {
      display: flex;
      width: 2em;
      height: 2em;
      justify-content: center;
      align-items: center;
    }
  }
}
.warning {
  background-color: rgba(242, 99, 99, 0.635);
  width: 10em;
  height: 4em;
}
