.login-page{
  @include background("bg-login");

    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login-data{
    @include container-form-data(800px, 4em, column);
    align-content: center;
    .btn-outline-info{
    background: linear-gradient(0deg, #36d2f5b1, #ffffff00);
    }
    .loginRedirect{
      font-family: calvino;
    }
}