.login-page{
  @include background("bg-login");

    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: newYork;
}

.container-login-data{
    @include container-form-data(800px, 4em, column);
    align-content: center;
    
}