$box-shadow-gray: #6462625e;
$btn-color: #0364f4;
$btn-hover: #4d91f7;

$grid-breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

$container-max-widths: (
  xs: 375px,
  sm: 420px,
  md: 720px,
  lg: 960px,
);
