
@import "./variables.scss";
@import "./reset.scss";


@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@font-face {
  font-family: calvino;
  src: url('../../public/fonts/Calvino.ttf');
}

@font-face {
  font-family: newYork;
  src: url('../../public/fonts/NewYork.otf');
}

//Components

@import "../components/Error/Error.scss";
@import "../components/Header/Header.scss";
@import "../containers/RegisterCandidate/RegisterCandidate.scss";
@import "../containers/RegisterCompany/RegisterCompany.scss";
@import "../containers/Login/Login.scss";
@import "../components/Home/Home.scss";
@import "../components/Popup/Popup.scss";
//Bootstrap imports

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'bootstrap-icons/font/bootstrap-icons.css';




